code {
    margin: 0 2px;
    padding: 3px 4px;
    border-radius: 3px;
    font-size: 0.9em;
    background-color: #f6f6f6;
    font-family: Menlo, Monaco, Consolas, Andale Mono, lucida console, Courier New, monospace;
}